@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap");

//COLORS
$primary: #e89db6;
$secondary: #b7ddba;
$tertiary: #edf9a9;
$lightgray: lighten(#dfdce3, 10%);
$darkgray: #36454f;
$charcoal: #1f1e1f;

//FONT
$fontStack: "PT Serif", serif;
$fontXXL: 5rem;
$fontXL: 4rem;
$fontL: 3rem;
$fontM: 2.5rem;
$fontS: 1.8rem;
$fontXS: 1.4rem;

//Line Height
$lineXXL: 7.5rem;
$lineXL: 6.75rem;
$lineL: 4.5rem;
$lineM: 3.75rem;
$lineS: 2.7rem;
$lineXS: 2.1rem;

//MIXINS
//Flex
@mixin flex($dir: null, $just: null, $ali: null) {
  display: flex;
  @if $dir != null {
    flex-direction: $dir;
  }
  @if $just != null {
    justify-content: $just;
  }
  @if $ali != null {
    align-items: $ali;
  }
}

//Media Queries
@mixin min-width($threshold) {
  @media screen and (min-width: $threshold) {
    @content;
  }
}

//CTA Button
@mixin cta-button() {
  background: $tertiary;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 0px 0px darken($tertiary, 10%);
  color: #1f1f1f;
  cursor: pointer;
  font-size: $fontM;
  padding: 0.6rem 1.1rem;

  &:hover {
    background: darken($tertiary, 10%);
  }
}

//Font size and height
@mixin font($size) {
  @if $size == "XS" {
    font-size: $fontXS;
    line-height: $lineXS;
  } @else if $size == "S" {
    font-size: $fontS;
    line-height: $lineS;
  } @else if $size == "M" {
    font-size: $fontM;
    line-height: $lineM;
  } @else if $size == "L" {
    font-size: $fontL;
    line-height: $lineL;
  } @else if $size == "XL" {
    font-size: $fontXL;
    line-height: $lineXL;
  } @else if $size == "XXL" {
    font-size: $fontXXL;
    line-height: $lineXXL;
  }
}

@mixin underline() {
  background: $tertiary;
  content: "";
  display: block;
  height: 2px;
  margin-top: 4rem;
  width: 100%;
}
